aiohttp==3.14.3
alembic==1.19.0
av==18.0.0
blake3==1.0.9
comfy-aimdo==0.4.13
comfy-angle==0.1.0
comfy-kitchen==0.2.26
comfyui-embedded-docs==0.5.9
comfyui-frontend-package==1.48.6
comfyui-workflow-templates==0.11.31
comfyui-workflow-templates-core==0.3.295
comfyui-workflow-templates-json==0.1.30
einops==0.8.2
greenlet==3.5.4
kornia==0.8.3
kornia-rs==0.1.14
Mako==1.4.1
numpy==2.4.6
Pillow==12.3.0
psutil==7.2.2
pydantic==2.13.4
pydantic-settings==2.14.2
PyOpenGL==3.1.10
PyYAML==6.0.3
requests==2.34.2
safetensors==0.8.0
scipy==1.18.0
sentencepiece==0.2.2
simpleeval==1.0.7
spandrel==0.4.2
SQLAlchemy==2.0.51
tokenizers==0.22.2
trampoline==0.1.2
torchsde==0.2.6
tqdm==4.70.0
transformers==5.14.1
yarl==1.24.5
